				<!-- TOP NAV -->
<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo pull-left" href="index.html">
            <h2 style="margin:15px 0 32px 0;">GARY PROHM automotive ltd</h2>
        </a>

        <!--
            Top Nav

            AVAILABLE CLASSES:
            submenu-dark = dark sub menu
        -->
        <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
            <nav class="nav-main">

                <!--
                    NOTE

                    For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                    Direct Link Example:

                    <li>
                        <a href="#">HOME</a>
                    </li>
                -->
                <ul id="topMain" class="nav nav-pills nav-main">
                    <li class="active">
                        <!-- HOME -->
                        <a href="#">
                            HOME
                        </a>
                    </li>
                    <li class="dropdown">
                        <!-- PAGES -->
                        <a ui-sref="home.about">
                            ABOUT US
                        </a>
                    </li>
                    <li class="dropdown">
                        <!-- FEATURES -->
                        <a ui-sref="home.servicing">
                            SERVICING
                        </a>

                    </li>
                    <li class="dropdown mega-menu">
                        <!-- PORTFOLIO -->
                        <a ui-sref="home.repairs">
                            REPAIRS
                        </a>

                    </li>
                    <li class="dropdown">
                        <!-- BLOG -->
                        <a ui-sref="home.book">
                            BOOK ONLINE
                        </a>

                    </li>
                    <li>
                        <!-- SHOP -->
                        <a ui-sref="home.findus">
                            FIND US
                        </a>

                    </li>
                </ul>

            </nav>
        </div>

    </div>
</header>
<!-- /Top Nav -->