<section>
    <div class="container">
        <header class="text-left margin-bottom-40">
            <h1 class="weight-800">HONEST SERVICE SINCE 1990</h1>
            <!--<h2 class="weight-300 letter-spacing-1 size-13"><span>THE MOST COMPLETE TEMPLATE EVER</span></h2>-->
        </header>

        <div class="row">

            <div class="col-sm-8">
                <p class="text-justify">Gary and Gayle Prohm, owners of Gary Prohm Automotive Ltd in Royal Oak, have been familiar faces about Auckland their entire lives. They have been at the premises in Royal Oak for just over ten years now and for over a decade before that their workshop was located just up the road in Mt Albert.</p>

                <p class="text-justify">Gary has been in the automotive industry for almost forty years, starting his career as an apprentice mechanic and working his way up from there so you can be sure he can address any concern you may have. You may also recognise Gary from his time playing rugby league for New Zealand in the 1980’s.</p>

                <p class="text-justify">The rest of the team at Gary Prohm Automotive Ltd consist of an office administrator, three technicians and a service manager to run you through the details of your service or repair. Gary and the team offer over a hundred years of combined experience in the automotive industry so come on in and let us sort out any problem you might have.</p>

            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="/images/gp5.jpg" alt="support">
            </div>

        </div>
    </div>
</section>