
<section class="alternate">
    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-tablet"></i>
                    <a class="box-icon-title" ui-sref="home.servicing">
                        <h2>Servicing</h2>
                    </a>
                    <p>Perhaps there is nothing wrong with your car - let’s keep it that way!  We carry out a comprehensive...</p>
                    <img class="img-responsive" src="images/servicing-310x173.jpg" alt="">
                    <a class="box-icon-more font-lato weight-300" ui-sref="home.servicing">Learn More</a>
                </div>

            </div>

            <div class="col-md-4">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-tint"></i>
                    <a class="box-icon-title" ui-sref="home.repairs">
                        <h2>Repairs</h2>
                    </a>
                    <p>Those lights on the dashboard might not say much to you, but they speak to us! No...</p>
                    <img class="img-responsive" src="images/repairs-gary-prohm-automotive-310x173.jpg" alt="">
                    <a class="box-icon-more font-lato weight-300" ui-sref="home.repairs">Learn More</a>
                </div>

            </div>

            <div class="col-md-4">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-cogs"></i>
                    <a class="box-icon-title" ui-sref="home.about">
                        <h2>Honest Service since 1900</h2>
                    </a>
                    <p>Gary and Gayle Prohm, owners of Gary Prohm Automotive Ltd in Royal Oak, have been...</p>
                    <img class="img-responsive" src="images/HONEST-SERVICE-SINCE-1990-310x173.jpg" alt="">
                    <a class="box-icon-more font-lato weight-300" ui-sref="home.about">Learn More</a>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- / -->
<!-- -->
<!--<section>
    <div class="container">
        <header class="text-center margin-bottom-40">
            <h1 class="weight-300">Real Support. Real People.</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>THE MOST COMPLETE TEMPLATE EVER</span></h2>
        </header>

        <div class="row">

            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>

                <a class="btn btn-default" href="#">LEARN MORE</a>
            </div>

            <div class="col-sm-6">
                <img class="img-responsive" src="assets/images/demo/index/support.jpg" alt="support" />
            </div>

        </div>
    </div>
</section>-->
<!-- / -->
<section>
    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <a class="box-icon-title" href="#">
                        <h2>RATE US ON NO COWBOY</h2>
                    </a>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                    <img src="images/rate-us.jpg" alt="">
                    <br /><br />
                    <a class="btn btn-primary" href="#">Rate Us</a>
                </div>

            </div>

            <div class="col-md-6">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <a class="box-icon-title" href="#">
                        <h2>FREE COURTESY CAR</h2>
                    </a>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                    <img src="images/courtesy-car-book-promotion-150x150.jpg" alt="">
                    <br /><br />
                    <a class="btn btn-primary" href="#">Learn More</a>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- RECENT NEWS -->
<section class="alternate">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h1 class="weight-300">What other people are saying about us</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>WE TRULY CARE ABOUT OUR CUSTOMERS</span></h2>
        </header>

        <!--
            controlls-over		= navigation buttons over the image
            buttons-autohide 	= navigation buttons visible on mouse hover only

            data-plugin-options:
                "singleItem": true
                "autoPlay": true (or ms. eg: 4000)
                "navigation": true
                "pagination": true
                "items": "4"

            owl-carousel item paddings
                .owl-padding-0
                .owl-padding-3
                .owl-padding-6
                .owl-padding-10
                .owl-padding-15
                .owl-padding-20
        -->
        <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"1", "autoPlay": 4000, "navigation": true, "pagination": false}'>
            <div class="img-hover">
                <p class="text-left">They did a great job and fixed my car at a good price. Would recommend anyone to use them AAA service!</p>
            </div>
            <div class="img-hover">
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
            </div>
            <div class="img-hover">
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
            </div>
            <div class="img-hover">
                <p class="text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                </p>
            </div>
            <div class="img-hover">
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
            </div>
            <div class="img-hover">
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
            </div>
        </div>

    </div>
</section>
<!-- /RECENT NEWS -->
