
<section class="alternate">
    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-cogs"></i>
                    <a class="box-icon-title" ui-sref="home.servicing">
                        <h2>Servicing</h2>
                    </a>
                    <p>Perhaps there is nothing wrong with your car - let’s keep it that way!  We carry out a comprehensive...</p>
                    <img class="img-responsive" src="images/gp2.jpg" alt="">
                    <a class="box-icon-more font-lato weight-300" ui-sref="home.servicing" style="color:white!important">Learn More</a>
                </div>

            </div>

            <div class="col-md-4">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-wrench"></i>
                    <a class="box-icon-title" ui-sref="home.repairs">
                        <h2>Repairs</h2>
                    </a>
                    <p>Those lights on the dashboard might not say much to you, but they speak to us! No...<br />&nbsp;</p>
                    <img class="img-responsive" src="images/gp3.jpg" alt="">
                    <a class="box-icon-more font-lato weight-300" ui-sref="home.repairs" style="color:white!important">Learn More</a>
                </div>

            </div>

            <div class="col-md-4">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-trophy"></i>
                    <a class="box-icon-title" ui-sref="home.about">
                        <h2>Honest Service since 1990</h2>
                    </a>
                    <p>Gary and Gayle Prohm, owners of Gary Prohm Automotive Ltd in Royal Oak, have been...</p>
                    <img class="img-responsive" src="images/gp4.jpg" alt="">
                    <a class="box-icon-more font-lato weight-300" ui-sref="home.about" style="color:white!important">Learn More</a>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- / -->
<!-- -->
<!--<section>
    <div class="container">
        <header class="text-center margin-bottom-40">
            <h1 class="weight-300">Real Support. Real People.</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>THE MOST COMPLETE TEMPLATE EVER</span></h2>
        </header>

        <div class="row">

            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>

                <a class="btn btn-default" href="#">LEARN MORE</a>
            </div>

            <div class="col-sm-6">
                <img class="img-responsive" src="assets/images/demo/index/support.jpg" alt="support" />
            </div>

        </div>
    </div>
</section>-->
<!-- / -->

<section id="pricing" class="">
    <div class="container">
        <a id="package"></a>
        <header class="text-center margin-bottom-60">
            <h2>SERVICE PACKAGES</h2>

            <hr>
        </header>

        <div class="row">

            <div class="col-md-4 col-sm-4">

                <div class="price-clean">
                    <h5 style="font-weight:bolder!important;">
                        Bronze Service 
                    </h5>
                    <b style="color:#BACDD6;">from $180.00</b>
                    <hr>
                    <p class="text-center" style="color:white!important;">
                        Drain & replace oil (up to 3.5 litres)<br/>
                        Install new oil filter (up to $16)<br />
                        Complete chassis service<br />
                        Check battery<br />
                        Check transmission<br />
                        Check differential<br />
                        Check air filter<br />
                        Check power steering fluid<br />
                        Check brake fluid<br />
                        Check tyre pressure<br />
                        Check coolant level<br />
                        Check belts & hoses<br />
                        Check wiper blades<br />
                        Check washer fluid<br />
                    </p>
                    <hr>
                    <p style="color:#BACDD6;">All prices exclude GST. Based on petrol vehicles. Diesel and 4x4 vehicles extra.</p>
                </div>

            </div>

            <div class="col-md-4 col-sm-4">

                <div class="price-clean">
                    <h5 style="font-weight:bolder!important;">
                        Gold Service
                    </h5>
                    <b style="color:#BACDD6;">from $250.00</b>
                    <hr>
                    <p class="text-center" style="color:white!important;">
                        Includes Bronze Service plus these extras:<br />
                        Remove wheels, check, clean & adjust brakes<br />
                        Tune the engine (parts extra)<br />
                        Check the spark plugs<br />
                        Test leads, cap and rotor<br />
                        Clean carburettor throttle body<br />
                        Check fuel filter<br />
                        Pressure test water system<br />
                        Check operation of lights<br />
                    </p>
                    <hr>
                    <p style="color:#BACDD6;">All prices exclude GST. Based on petrol vehicles. Diesel and 4x4 vehicles extra.</p>
                </div>

            </div>

            <div class="col-md-4 col-sm-4">

                <div class="price-clean">
                    <h5 style="font-weight:bolder!important;">
                        Diesel Service
                    </h5>
                    <b style="color:#BACDD6;">P.O.A</b>
                    <hr>
                    <p class="text-center" style="color:white!important;">
                        Drain & replace oil (up to 4 litres)<br />
                        Install new oil filter (up to $16)<br />
                        Check & fill brake fluid<br />
                        Test brake fluid condition<br />
                        Test coolant, radiator levels<br />
                        Check cooling system hoses<br />
                        Check fan & Acc belts<br />
                        Check power steering fluid<br />
                        Fill window washer fluid<br />
                        Check wiper blades<br />
                        Check air filter<br />
                        Check & fill transmission fluid<br />
                        Check & fill transaxle fluid<br />
                        Check tyre pressure<br />
                        Lubricate door hinges<br />
                        Lubricate chassis<br />
                        Drain diesel filter or replace (extra)<br />
                    </p>
                    <hr>
                    <p style="color:#BACDD6;">All prices exclude GST. Based on petrol vehicles. Diesel and 4x4 vehicles extra.</p>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="alternate" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <div class="row">
                        <div class="col-lg-4">
                            <a class="box-icon-title" href="#">
                                <h2>RATE US ON NO COWBOYS</h2>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            &nbsp;
                        </div>
                        <div class="col-lg-4">
                            <a class="box-icon-title" href="#">
                                <h2>COURTESY CAR</h2>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>"Great company to deal with. I will definitely use them again."</p>
                        </div>
                        <div class="col-lg-3">
                            &nbsp;
                        </div>
                        <div class="col-lg-5">
                            <!--<p>You can use one of our free courtesy cars to keep you going while your car is with us, or we can drop you off and pick you up locally.</p>-->
                            <p>
                                We have a range of courtesy cars available for your use while your car is being serviced or repaired. Vehicles must be booked in advance.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="images/rate-us.jpg" alt="" style="height:100px;">
                        </div>
                        <div class="col-lg-3">
                            &nbsp;
                        </div>
                        <div class="col-lg-5">
                            <img src="images/courtesy-car-book-promotion-150x150.jpg" alt="" style="height:100px;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <br /><br />
                            <a class="btn btn-primary" href="https://www.nocowboys.co.nz/businesses/Gary-Prohm-Motor-Services-LTD" style="width: 115px;">Rate Us</a>
                        </div>
                        <div class="col-lg-3">
                            &nbsp;
                        </div>
                        <!--<div class="col-lg-5">
                            <br /><br />
                            <a class="btn btn-primary" href="#">Learn More</a>
                        </div>-->
                    </div>
                </div>

            </div>

            <!--
                        <div class="col-md-6">

                            <div class="box-icon box-icon-side box-icon-color box-icon-round">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a class="box-icon-title" href="#">
                                            <h2>FREE COURTESY CAR</h2>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>You can use one of our free courtesy cars to keep you going while your car is with us, or we can drop you off and pick you up locally.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="images/courtesy-car-book-promotion-150x150.jpg" alt="" style="width:100px;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <br /><br />
                                        <a class="btn btn-primary" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>

                        </div>
            -->

        </div>
    </div>
</section>





<!-- RECENT NEWS -->
<section class="">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h1 class="weight-300">What other people are saying about us</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span style="color:#fff!important">WE TRULY CARE ABOUT OUR CUSTOMERS</span></h2>
        </header>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="new_html_code"></div>
                    <div class="carousel-caption">
                        They did a great job and fixed my car at a good price. Would recommend anyone to use them AAA service!
                    </div>
                </div>
                <div class="item">
                    <div class="new_html_code"></div>
                    <div class="carousel-caption">
                        We have been taking our cars and several company cars to Gary Prohm Automotive for many years. You can rely on them
                        for honest appraisal of the problem and a very fair price. I have recommended them to any friends on many occassions.
                    </div>
                </div>
                <div class="item">
                    <div class="new_html_code"></div>
                    <div class="carousel-caption">
                        Gary has been looking after me for about 10 years now. I rely on his advice and expertise to safeguard my family and keep our two cars running in a safe and reliable manner.  Both Gary and Glenn do exactly what they say they
                        will do when the say they will do it and often deliver that little bit more than you expect. I wholeheartedly recommend Gary Prohm Automotive Ltd to anyone looking for an automotive repairer.

                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</section>
<!-- /RECENT NEWS -->


