<section>
    <div class="container">
        <header class="text-left margin-bottom-40">
            <h1 class="weight-800">SERVICING</h1>
            <!--<h2 class="weight-300 letter-spacing-1 size-13"><span>THE MOST COMPLETE TEMPLATE EVER</span></h2>-->
        </header>

        <div class="row">

            <div class="col-sm-8">
                <p class="text-justify">Perhaps there is nothing wrong with your car – let’s keep it that way!  We carry out a comprehensive range of maintenance and inspections, we can even send you reminders for any regular servicing that your car needs. You can read detailed information about what you’ll get in our service packages <a href="/#/home#package" style="color:white!important;">here</a>.</p>

                <p class="text-justify">As well as regular servicing for preventative maintenance, you can come and see us for:</p>

                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Wheel alignment and balancing</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Tyre fitting</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Brake checks and adjustments</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Brake fluid service</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Computer diagnostics</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Engine tuning</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Pre-purchase inspections</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Air-conditioning repairs and servicing</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Transmission services – manual and automatic</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Fuel injection service</span>
                <br />
                <i class="fa fa-check-circle text-primary" style="font-weight:bolder;color:white!important;"></i><span class="text-primary" style="font-weight:bolder;color:white!important;"> Warrant of fitness</span>

                <br /><br />
                <p class="text-justify">You’re welcome to give us a call to find out more about any of these things, or if you’d like you can go ahead and <a href="#/book" style="color:white;">BOOK NOW</a> and we can give you a call to discuss your needs.</p>

            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="/images/gp8.jpg" alt="support">
                <br /><br />
                <img class="img-responsive" src="/images/gp7.jpg" alt="support">
            </div>

        </div>
    </div>
</section>