<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB" value="GPADB" />
    <!--<add key="smtphost" value="email-smtp.us-east-1.amazonaws.com"/>
    <add key="smtpport" value="25"/>
    <add key="smtpusername" value="AKIAINZBVZWEIYUOFZVQ"/>
    <add key="smtppassword" value="Ape8sKn1bWfGNASRn3rdOavwfOMxUi+UvMWPu+TJW32/"/>-->
    <add key="smtphost" value="smtp.gmail.com"/>
    <add key="smtpport" value="25"/>
    <add key="smtpusername" value="gpautomotivesystem@gmail.com"/>
    <add key="smtppassword" value="pfntpjzsmmdxbuha"/>
    <!--<add key="smtphost" value="smtp2.vodafone.net.nz"/>
    <add key="smtpport" value="25"/>
    <add key="smtpusername" value="gpautomotivesystem@gmail.com"/>
    <add key="smtppassword" value="pfntpjzsmmdxbuha"/>-->

    <add key="smtpssl" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
</configuration>